*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100vw;
    height: 100px;
    display: block;
    background-color: #494949;
}

.header_dalam{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #6e6e6e;
    margin-right: 5cm;
}

.kontainertext1{
    width: 100%;
    height: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 90px;
    background-color: rgb(30, 145, 101);
}

.kontainer{
    float: left;
}

.ArtikelBergerak{
    width: 100%;
    height: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 90px;
    background-color: rgb(30, 145, 101);
}

.kontainer_logo{
    height: 100%;
    display: table;
    float: left;
    margin-left: 30px;
}

.kontainer_logo h1{
    color: rgb(255, 255, 255);
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 200;
}

.navigasi{
    float: right;
    height: 100%;
    font-family: 'Montserrat';
    color: white;
}

.navigasi a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    color: white;
}

.navigasi li{
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.books{
    margin-top: 50px;
    font-family: Arial;
    margin-left: 50px;
}

.books h2{
    color: white;
}

.karya h2{
    color: white;
}



.booklist{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 18px;
}

.karya{
    margin-top: 50px;
    font-family: Arial;
    margin-left: 50px;
}

.nala{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 18px;
}

.item{
    margin-top: 10px;
}

.item a{
    color: white;
    transition: all ease-in .2s;
}

.item a:hover{
    color: #6e6e6e;
    transition: all ease-in .2s;
}

.KontainerAddKonten{
    float: right;
    max-width: 70%;
}

.KontainerAddKonten img{
    max-width: 100%;
}

.halliday{
    color: #fff;
}

.ItemCard{
    display: flex;
    justify-content: center;
    transition: .2s;

}

.card img{
    margin: 0;
    padding: 0;
    width: 400px;
    border-radius: 3px;
    transition: .2s;
}

.card{
    height: 500px;
    width: 350px;
    min-width: 350px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    font-family: sans-serif;
    overflow: hidden;
    transition: .2s;
    position: relative;
}

.card:hover{
    cursor: pointer;
    transition: .2s;
}

.intro{
    color: #fff;
    height: 78px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position:absolute;
    background: rgb(27, 27, 27,.5);
    bottom: -10px;
    transition: .2s;
}

.card:hover .intro{
    bottom: 0px;
    height: 220px;
    background: black;
    transition: .2s;
}

.intro h1{
    margin: 10px;
    font-size: 40px;
}

.intro p{
    font-size: 20px;
    margin: 0px 20px;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
}

.card:hover p{
    opacity: 1;
    visibility: visible;
    transition: .2s;
}

.card:hover img{
    transform: scale(1.1);
    transition: .2s;
}

.ItemCard a{
    width: 350px;
    height: 500px;
}

.MainTitle{
    color: white;
    width: 100%;
    font-family: 'Ubuntu';
    font-size: 4vw;
    text-align: center;
    margin-top: 3vw;
}

.MainContainer{
    min-height: 100vh;
    width: 100vw;
}

.sidebar{
    background: #999999;
    /*width: 110px;*/
    width: 360px;
    padding: 24px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    transition: all ease-in-out 0.2s;
}

.sidebar.hide {
    width: 118px;
    background: #999999;
    padding: 24px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    transition: all ease-in-out 0.2s;
}

.sidebar.hide .sbmain .list-item .desc-sb{
    display: none;
    transition: all ease-in-out 0.2s;
    
}

.sidebar.hide .sbmain .list-item-active .desc-sb{
    display: none;
    transition: all ease-in-out 0.2s;
    
}

.sidebar.hide .sbmain .list-item{
    width: 70px;
    display: block;
    flex-direction: row;
    padding: 12px 10px;
    line-height: 16px;
    margin-bottom: 2vw;
    background-color: #d9aeae;
    border-radius: 12px;
    box-sizing: border-box;
    
}

.sidebar.hide .sbmain .list-item-active{
    width: 70px;
    display: block;
    flex-direction: row;
    padding: 12px 10px;
    line-height: 16px;
    margin-bottom: 2vw;
    background-color: rgb(231, 225, 225);;
    border-radius: 12px;
    box-sizing: border-box;
    
}

.sbheader{
    height: 76px;
}

.sbmain {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 100px;
    
}

.menu-button {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    
}

.list-item{
    width: 312px;
    display: block;
    flex-direction: row;
    padding: 12px 10px;
    line-height: 16px;
    margin-bottom: 2vw;
    background-color: #d9aeae;
    border-radius: 12px;
    box-sizing: border-box;
    

}

.list-item-active{
    width: 312px;
    display: block;
    flex-direction: row;
    padding: 12px 10px;
    line-height: 16px;
    margin-bottom: 2vw;
    background-color: rgb(231, 225, 225);
    border-radius: 12px;
    box-sizing: border-box;
    
}


.list-item:hover{
    background-color: rgb(231, 225, 225);
    transition: .1s;
}

.list-item img{
    width: 40px;
    margin-right: 12px;
    margin-left: 5px;
    vertical-align: middle;
}

.list-item-active img{
    width: 40px;
    margin-right: 12px;
    margin-left: 5px;
    vertical-align: middle;
}

.list-item .desc-sb{
    font-family: 'Ubuntu';
    display: relative;
    font-weight: 600;
    font-size: 25pt;
    text-align: left;
    bottom: 10px;
    margin-left: 5px;
    color: #302c2c;
    vertical-align: middle;
    transition: all ease-in .1s;
    transition-delay: .1s;
}


.list-item-active .desc-sb{
    font-family: 'Ubuntu';
    display: relative;
    font-weight: 600;
    font-size: 25pt;
    text-align: left;
    bottom: 10px;
    margin-left: 5px;
    color: #302c2c;
    vertical-align: middle;
    transition: all ease-in .1s;
    transition-delay: .1s;
}


.body{
    display: flex;
    flex-grow: 1;
}

.SpacingBlock{
    height: 200px;
}

.footer{
    height: 200px;
    background-color: #171515;
}

/*toggle menu*/
#menu-button{
    width: 70px;
    position: absolute;
    overflow: hidden;    
}

#menu-label{
    position: relative;
    display: block;
    height: 50px;
    cursor: pointer;
}

#menu-checkbox{
    display: none;
}

#hamburger, #menu-label:after, #menu-label:before{
    position: absolute;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #ffffff;
}

#menu-label:after, #menu-label:before {
    content: "";
    transition:0.8s cubic-bezier(0.075, 0.82, 0.165, 1) ;
}

#menu-label:before {
    top:0;

}

#menu-label:after {
    top:20px;
    
}

#hamburger{
    top : 40px
}

#hamburger:before{
    content: "MENU";
    font-family: 'Ubuntu';
    width: 100%;
    position: absolute;
    top: 15px;
    right: 0;
    left: 0;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
}

#menu-checkbox:checked + #menu-label::before{
    left : -75px;
}

#menu-checkbox:checked + #menu-label::after{
    left : 75px;
}

#menu-checkbox:checked + #menu-label #hamburger::before{
    animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeUp 0.8s ease 0.2s forwards, shakeDown 0.8s ease 0.2s forwards;
}

@keyframes moveUpThenDown{
    0% {
        top: 0;
    }
    50% {
        top: -45px;
    }
    100% {
        top: -35px;
    }
}

@keyframes shakeUp {
    0% {
        transform: rotateZ(0);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    50% {
        transform: rotateZ(0);
    }
    75% {
        transform: rotateZ(10);
    }
    100% {
        transform: rotateZ(0);
    }
}

@keyframes shakeDown {
    0% {
        transform: rotateZ(0);
    }
    80% {
        transform: rotateZ(3deg);
    }
    90% {
        transform: rotateZ(-3);
    }
    100% {
        transform: rotateZ(0);
    }
}

@media (max-width: 1320px){
    .MainContainer{
        width: 100vw;
    }
    .ItemCard{
        display: block;
        margin: auto;
        width: 100%;
        transition: .2s;
    }
    .card{
        display: block;
        margin: auto;
        margin-top: 50px;
    }

}