*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 100px;
    display: block;
    background-color: #140634;
    transition: 2s;
}

.header_dalam{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #26144e;
    margin-right: 5cm;
    transition: 2s;
}

.kontainer_logo{
    height: 100%;
    display: table;
    float: left;
    margin-left: 30px;
}

.kontainer_logo h1{
    color: rgb(255, 255, 255);
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 200;
    transition: 2s;
}

.navigasi{
    float: right;
    height: 100%;
    font-family: 'Montserrat';
}

.navigasi a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigasi li{
    display: table-cell;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    transition: 2s;
}

.index{
	min-height: fit-content;
    background-color: rgb(6, 4, 16);
	width: 1000px;
	margin:auto;
	padding-top: 50px;
    font-family: Arial;
    transition: 2s;
}

.Page_Navigation{
    height: 100px;
    background-color: #26144e;
    transition: 2s;
}

.index .title{
    margin-top: 100px;
    font-size: 25px;
    text-align: center;
    transition: 2s;
    color: #fff;
}

.index .isi{
    padding: 0in;
    margin-top: 50px;
	font-family: sans-serif;
    text-align: justify;
	line-height: 2;
    margin-left: 70px;
    margin-right: 70px;
    color: #fff;
    transition: 2s;
}

.footer{
    min-height: 150px;
    ;
    display: block;
    background-color: #000000;
    width: 100%;
    transition: 2s;
}

.blankblock{
    min-height: 100px;
}

.iconbookmark{
    width: 100%;
    height: 50%;
    background: url('bookmark.png') no-repeat center;
    background-size: contain;
}

.back{
    width: 90px;
    min-height: 100px;
    background-color: #451764;;
    float: left;
    transition: all ease-in .2s;
    transition: 2s;
}
.back:hover{
    background-color: #5e4a6d ;
    transition: all ease-in .2s;
    
}

.next{
    width: 90px;
    min-height: 100px;
    background-color: #451764;
    float: right;
    transition: all ease-in .2s;
}
.next:hover{
    background-color: rgb(59, 95, 97) ;
    transition: all ease-in .2s;
}

.navcenter{
    width: 910px;
    min-height: 100px;
    background-color: #26144e;
    float: right;
    transition: 2s;
    
}

.mainnav{
    width: px;
    min-height: 100px;
    background-color: #26144e;
    float: left;
    transition: 2s;
}

.previousicon{
    min-height: 100px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    background-color: rgb(215, 182, 252);
    -webkit-mask: url(../../image/previous.svg) no-repeat center;
    mask: url(../../image/previous.svg) no-repeat center;
    transition: 2s;
}
.previousicon img{
    width: 80%;
    height: 80%;
    margin: auto;
    
}

.nexticon{
    min-height: 100px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    background-color: rgb(215, 182, 252);
    -webkit-mask: url(../../image/next.svg) no-repeat center;
    mask: url(../../image/next.svg) no-repeat center;
    transition: 2s;
}
.nexticon img{
    width: 80%;
    height: 80%;
    margin: auto;
    
}

.pagelist{
    margin-left: 60px;
    min-height: 100px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    font-size: 18pt;
    font-family: sans-serif;
    font-weight: 740;
    color: rgb(255, 255, 255);
    size: 120%; 
    transition: 2s; 
}

.toIndexButton{
    border-radius: 25px;
    background-color: #140634;
    display: flex;
    align-items: center;
    padding:15px 30px;
    align-content: center;
    transition: all ease-in .2s;
    transition: 2s;
}
.toIndexButton:hover{
    background-color: #363349;
    display: flex;
    align-items: center;
    padding:15px 30px;
    align-content: center;
    transition: all ease-in .2s;
}

.toIndexButton a{
    color: rgb(255, 255, 255);
}


.emptyblock{
    min-height: 50px;
}

p {
    text-indent: 70px;
}

.baganText{
    margin-top: 50px;
    font-size: min(max(20px,5vw),30px);
}

.DNbutton{
	cursor: pointer;
	margin: auto;
	padding: 15px 25px;
	width: 30px;
	height: 30px;
	background-color: #565178;
	color: #fff;
	border-radius: 20px;
	transition: 2s;
	overflow: hidden;
    margin-left: 400px ;
}

.DNbutton img{
	height: 30px;
	
	
}

.DNbuttonLight{
	overflow: hidden;
	cursor: pointer;
	margin: auto;
	padding: 15px 25px;
	width: 30px;
	height: 30px;
	background-color: #3d3d3d;
	color: #fff;
	border-radius: 20px;
	transition: 2s;
    margin-left: 400px ;
}

.DNbuttonLight img{
	height: 30px;
}

/* Light Style */

.headerLight{
    width: 100%;
    height: 100px;
    display: block;
    background-color: rgb(48, 77, 78);
    transition: 2s;
}

.header_dalamLight{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: rgb(219, 144, 165);
    margin-right: 5cm;
    transition: 2s;
}

.kontainer_logoLight h1{
    color: rgb(255, 255, 255);
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 200;
    transition: 2s;
}

.navigasiLight{
    float: right;
    height: 100%;
    font-family: 'Montserrat';
}

.navigasiLight a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigasiLight li{
    display: table-cell;
    vertical-align: middle;
    color: rgb(48, 77, 78);
    transition: 2s;
}

.indexLight{
	min-height: fit-content;
    background-color: white;
	width: 1000px;
	margin:auto;
	padding-top: 50px;
    font-family: Arial;
}

.Page_NavigationLight{
    height: 100px;
    background-color: rgb(219, 144, 165);
    transition: 2s;
}

.indexLight .title{
    margin-top: 100px;
    font-size: 25px;
    text-align: center;
    color: black;
    transition: 2s;
}

.indexLight .isi{
    padding: 0in;
    margin-top: 50px;
	font-family: sans-serif;
    text-align: justify;
	line-height: 2;
    margin-left: 70px;
    margin-right: 70px;
    color: black;
    transition: 2s;
}

.footerLight{
    min-height: 150px;
    ;
    display: block;
    background-color: rgb(48, 77, 78);
    width: 100%;
    transition: 2s;
}

.backLight{
    width: 90px;
    min-height: 100px;
    background-color: rgb(48, 77, 78);
    float: left;
    transition: all ease-in .2s;
    transition: 2s;
}


.backLight:hover{
    background-color: rgb(59, 95, 97) ;
    transition: all ease-in .2s;
}

.nextLight{
    width: 90px;
    min-height: 100px;
    background-color: rgb(48, 77, 78);
    float: right;
    transition: all ease-in .2s;
}

.nextLight:hover{
    background-color: rgb(59, 95, 97) ;
    transition: all ease-in .2s;
}

.navcenterLight{
    width: 910px;
    min-height: 100px;
    background-color: rgb(219, 144, 165);
    float: right;
    
}

.previousiconLight{
    min-height: 100px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    background-color: rgb(219, 144, 165);
    -webkit-mask: url(../../image/previous.svg) no-repeat center;
    mask: url(../../image/previous.svg) no-repeat center;
    transition: 2s;
}
.previousiconLight img{
    width: 80%;
    height: 80%;
    margin: auto;
    
}

.nexticonLight{
    min-height: 100px;
    display: flex;
    background-color: rgb(219, 144, 165);
    align-items: center;
    vertical-align: middle;
    -webkit-mask: url(../../image/next.svg) no-repeat center;
    mask: url(../../image/next.svg) no-repeat center;
    transition: 2s;
}
.pagelistLight{
    margin-left: 60px;
    min-height: 100px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    font-size: 18pt;
    font-family: sans-serif;
    font-weight: 740;
    color: rgb(255, 255, 255);
    size: 120%;
    transition: 2s;
}

.toIndexButtonLight{
    border-radius: 25px;
    background-color: rgb(48, 77, 78);
    display: flex;
    align-items: center;
    padding:15px 30px;
    align-content: center;
    transition: all ease-in .2s;
}
.toIndexButtonLight:hover{
    background-color: rgb(64, 100, 102);
    display: flex;
    align-items: center;
    padding:15px 30px;
    align-content: center;
    transition: all ease-in .2s;
}

.toIndexButtonLight a{
    color: rgb(255, 255, 255);
}

.mainnavLight{
    width: px;
    min-height: 100px;
    background-color: rgb(219, 144, 165);
    float: left;
    transition: 2s;
}