*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
	background-color: rgb(255, 229, 229);;
}

.header{
    width: 100%;
    height: 100px;
    display: block;
    background-color: rgb(187, 63, 98);
	transition: 2s;
}

.headerNight{
    width: 100%;
    height: 100px;
    display: block;
    background-color: #140634;
	transition: 2s;
}

.header_dalam{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: rgb(219, 144, 165);
    margin-right: 5cm;
	transition: 2s;
}

.header_dalamNight{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #26144e;
    margin-right: 5cm;
	transition: 2s;
}

.kontainer_logo{
    height: 100%;
    display: table;
    float: left;
    margin-left: 30px;
}

.kontainer_logo h1{
    color: rgb(255, 255, 255);
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 200;
}

.navigasi{
    float: right;
    height: 100%;
    font-family: 'Montserrat';
	transition: 2s;
}

.navigasi a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
	transition: 2s;
}

.navigasi li{
    display: table-cell;
    vertical-align: middle;
    color: rgb(48, 77, 78);
	transition: 2s;
}

.navigasiNight{
    float: right;
    height: 100%;
    font-family: 'Montserrat';
	transition: 2s;
}

.navigasiNight a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
	transition: 2s;
}

.navigasiNight li{
    display: table-cell;
    vertical-align: middle;
    color: #fff;
	transition: 2s;
}


.sinopsis{
	min-height: fit-content;
	width: 80%;
	margin:auto;
	padding-top: 60px;
}

.wadah{
	min-height:min-content;
}

.image-section{
	float: right;
	width: 40%;
	margin-top:133px;
    
}

.image-section img{
	width: 100%;
	height: auto;
}

.image-section-secondary{
	display: none;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
    
}

.image-section-secondary img{
	width: 80%;
	height: auto;
	margin: auto;
}

.content-section{
	float: left;
	width: 50%;
	padding-top: 30px;
}

.content-section .title{
	text-transform: uppercase;
	font-size: 30px;
	font-family: sans-serif;
	margin-top: 25px;
	transition: 2s;
}
.content-section .content h3{
	margin-top: 25px;
	font-size: 25px;
	font-family: sans-serif;
	transition: 2s;
	
}
.content-section .content p{
	margin-top: 30px;
	font-family: sans-serif;
	font-size: 22px;
	line-height: 1.5;
    text-align: justify;
	transition: 2s;
}

.content-sectionNight{
	float: left;
	width: 50%;
	padding-top: 30px;
}

.content-sectionNight .title{
	text-transform: uppercase;
	font-size: 30px;
	font-family: sans-serif;
	margin-top: 25px;
	color: rgb(231, 228, 228);
	transition: 2s;
}
.content-sectionNight .content h3{
	margin-top: 25px;
	font-size: 25px;
	font-family: sans-serif;
	color: rgb(231, 228, 228);
	transition: 2s;
}
.content-sectionNight .content p{
	margin-top: 30px;
	font-family: sans-serif;
	font-size: 22px;
	line-height: 1.5;
    text-align: justify;
	transition: 2s;
	color: rgb(231, 228, 228);
}

.index{
	margin-top: auto;
	width: 100%;
	min-block-size: fit-content;
}

.judulindex{
	text-transform: uppercase;
	font-size: 30px;
	font-family: sans-serif;
	text-align: center;
}

.button{
	margin-top: 120px;
}
.button a{
	font-family: Arial;
	background-color: #3d3d3d;
	padding:15px 50px;
	border-radius: 15px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
	transition: all ease-in .2s;
}
.button a:hover{
	background-color: #a52a2a;
	color:#fff;
	transition: all ease-in .2s;
}

.buttonNight{
	margin-top: 120px;
}
.buttonNight a{
	font-family: Arial;
	background-color: #565178;
	padding:15px 50px;
	border-radius: 15px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
	transition: all ease-in .2s;
}
.buttonNight a:hover{
	background-color: #7c75a7;
	color:#fff;
	transition: all ease-in .2s;
}

.BlockBawah{
	display: block;
	min-height: 100px;
	width: 100%;
}

.alert{
	margin-top: 50px;
	font-size: 16px;
	font-style: italic;
	text-align: justify;
	transition: 2s;
}

.alertNight{
	margin-top: 50px;
	font-size: 16px;
	font-style: italic;
	text-align: justify;
	color: rgb(231, 228, 228);
	transition: 2s;
}

.DNbutton{
	cursor: pointer;
	margin: auto;
	padding: 15px 25px;
	width: 30px;
	height: 30px;
	background-color: #3d3d3d;
	color: #fff;
	border-radius: 20px;
	transition: 2s;
	overflow: hidden;
	margin: auto;
}

.DNbutton img{
	height: 30px;
	
	
}

.DNbuttonNight{
	overflow: hidden;
	cursor: pointer;
	margin: auto;
	padding: 15px 25px;
	width: 30px;
	height: 30px;
	background-color: #565178;
	color: #fff;
	border-radius: 20px;
	transition: 2s;
}

.DNbuttonNight img{
	height: 30px;
}

#NDcheck{
	display: none;
}

#NDlabel{
	width: 30px;
	height: 30px;
	border: 0;
	position: relative;
	background-color: #a52a2a;
	cursor: pointer;
}

#NDbutton:checked + #moon{
	animation: MoonDown 0.5s forwards;
}

@keyframes MoonDown {
	0% {
        top: 0;
    }
    25% {
        top: -25px;
    }
    50% {
        top: -40px;
    }
    75% {
        top: -50px;
    }
    100% {
        top: -55px;
	}
}

@keyframes MoonUp {
	0% {
        transform: rotateZ(0);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    50% {
        transform: rotateZ(0);
    }
    75% {
        transform: rotateZ(10);
    }
    100% {
        transform: rotateZ(0);
    }
}

@keyframes SunDown {
	0% {
        top: 0;
    }
    25% {
        top: -25px;
    }
    50% {
        top: -40px;
    }
    75% {
        top: -50px;
    }
    100% {
        top: -55px;
    }
}

@keyframes SunUp {
	0% {
        transform: rotateZ(0);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    50% {
        transform: rotateZ(0);
    }
    75% {
        transform: rotateZ(10);
    }
    100% {
        transform: rotateZ(0);
    }
}

@media (max-width: 1000px){
	.image-section{
		display: none;
	}

	.content-section{
		width: 100%;
	}

	.content-sectionNight{
		width: 100%;
	}

	.image-section-secondary{
		display: flex;
		margin-top: 80px;
		margin-bottom: 120px;
	}

	.content-section .title{
		font-size: 40px;
		text-align: center;
	}

	.content-sectionNight .title{
		font-size: 40px;
		text-align: center;
	}

	.BlockBawah{
		display: block;
		min-height: 250px;
		width: 100%;
	}

	.header_dalam{
        width: 100vw;
    }

    .navigasi{
        margin-right: 30px;
    }
}

@media (max-width: 600px){
    .navigasi{
        display: none;
    }
}
